<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407539158060-updt3n3lvj0njlu7ptb8j9e7bg1ns7kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407539158060-updt3n3lvj0njlu7ptb8j9e7bg1ns7kq</string>
	<key>API_KEY</key>
	<string>AIzaSyAhBAmIDJ1Pd80okNlWVQ9ajs_N_NnxMkI</string>
	<key>GCM_SENDER_ID</key>
	<string>407539158060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dishankjindal.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-981fa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-981fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407539158060:ios:62d836ba442faa15835589</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-981fa.firebaseio.com</string>
</dict>
</plist>